.follow-list-wrapper {
  display: flex;
  flex-direction: column;
  margin: 1rem 5% 0;
  gap: 1rem;
  h3 {
    font: 1.2rem bold;
    padding-left: 0.2rem;
    padding-bottom: 0.2rem;
    border-bottom: #5f6368 2px solid;
    margin: 0 1rem;
  }
}

.follow-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.6rem;
  justify-items: center;
  align-items: center;
}

@media (max-device-width: 768px) {
  .follow-list-wrapper {
    display: flex;
    flex-direction: column;
    margin: 1rem 0 0;
    gap: 0.4rem;
    h3 {
      font: 1.2rem bold;
      padding-left: 0.2rem;
      padding-bottom: 0.2rem;
      border-bottom: #5f6368 2px solid;
      margin: 0 1rem;
    }
  }
  .follow-list {
    grid-template-columns: 1fr 1fr;
    gap: 0.2rem;
    justify-items: center;
    align-items: center;
  }
}

.user-item {
  width: 90%;
  height: 5rem;
  border: #60646c 1px solid;
  border-radius: 0.2rem;
  overflow: clip;
  display: grid;
  grid-template-rows: 3.3rem 1.7rem;
  grid-template-columns: 5rem 1fr;
  column-gap: 0.2rem;
  position: relative;
  img {
    grid-row: span 2;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    object-fit: fill;
  }
  p {
    height: 100%;
    align-content: center;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;
  }
  p.user-item-name {
    font-size: 1rem;
    -webkit-line-clamp: 2;
  }
  p.user-item-name_show {
    font-size: 0.7rem;
    -webkit-line-clamp: 1;
    color: #5f6368;
  }
  .user-item-link {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 1rem;
    height: 1rem;
    display: flex;
    justify-content: end;
    align-items: end;
  }
}

.user-item-spec {
  display: grid;
  grid-template-rows: 3.3rem 1.7rem 1fr;
  grid-template-columns: 5rem 1fr;
  column-gap: 0.2rem;
  height: 100%;

  div.user-item-spec-info {
    grid-column: span 2;
    font-size: 0.7rem;
    -webkit-line-clamp: 1;
    border-top: #5f6368 1px solid;
    position: relative;
    display: flex;
    svg {
      position: absolute;
      float: left;
      margin-left: 0.2rem;
      top: 50%;
      transform: translateY(-50%);
    }
    span {
      display: block;
      margin: 0 auto;
      width: fit-content;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      justify-content: center;
    }
  }
}
