.forumsList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.6rem;
  margin-top: 1rem;
}



.forumItem {
  display: flex;
  border: 1px solid #d9dbe3;
  border-radius: 0.5rem;
  padding: 0.5rem;
  transition: background-color 0.3s ease;
}

.forumItem:hover {
  background-color: #f1f2f5;
}

:global(.dark) .forumItem:hover {
  background-color: #16181d;
}

.forumAvatar {
  width: 5rem;
  height: 5rem;
  border-radius: 1.5rem;
  margin: auto 0.2rem auto 0;
}

@media (max-width: 768px) {
  .forumAvatar {
    width: 4rem;
    height: 4rem;
    border-radius: 1rem;
    margin: 0;
  }
}



.forumItemInfo {

  .forumLevel {
    font-weight: bold;
    margin: 0 3px;
  }
}

.forumItemInfo h4 {
  font-size: 22px;
  display: block;
}

.forumSlogan::before {
  content: "> ";
  font-weight: bold;
}
.forumSlogan {
  font-size: 15px;
}

@media (max-width: 768px) {
  .forumsList {
    grid-template-columns: 1fr 1fr;
  }
  .forumItem {
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    width: 100%;
    flex-wrap: wrap;
  }

  .forumItemInfo {
    grid-column: span 2 / span 2;
  }
  .forumName {
    font-size: 1.2rem;
  }
  .forumLevelP{
    font-size: 0.6rem;
  }

}

@media (max-width: 320px) {
  .forumsList {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 1024px) {
  .forumName {
    font-size: 20px;
  }
}



.forumsList2 {
  list-style: circle inside;
}

.forumsList2 li {
  font-weight: 600;
}
