.pageButton {
  margin: 0 auto;
  border-radius: 0.25rem;
  overflow: clip;
}

.pgBtn {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #3b82f6;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pgBtn:hover {
  background-color: #1d4ed8
}

.pgBtn:disabled {
  background-color: #cbd5e1;
  cursor: not-allowed;
}
