.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 32rem;
  padding: 1rem;
  border: #5f6368 1px solid;
  border-radius: 1rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

@media (max-width: 768px) {
  .container {
    width: 95vw;
  }
}

.userInfoTitle {
  font-size: 19px;
  display: block;
  margin-bottom: 0.8rem;
  width: 100%;
  border-bottom: #3f3f46 2px solid;
}

.userAvatar {
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  border: 0.2rem solid #ccc;
  margin: 0 auto;
}

.profileTitle {
  display: grid;
  grid-template-columns: 0.7fr 1fr 0.7fr;
  align-items: center;
  align-content: center;
  text-align: center;
  padding: 0.5rem 0;

}
.userUname {
  font-size: 1.5rem;
  font-weight: 700;
  border-left: #f2f2f2 2px solid;
  border-right: #f2f2f2 2px solid;
}



.userTbage {
  font-size: 1.2rem;
  color: #3f3f46;
}

.userInfoGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #3f3f46;
}

:global(.dark) .userInfoGrid {
  color: var(--text-color);
}
