.container {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  position: relative;
  width: 100vw;
  overflow: clip;
}



.svg {
  position: absolute;
  inset: 0;
  height: 100%;

}


.container1 {
  position: relative;
  background-color: #FCFCFD;
  padding: 6rem 0;
  overflow: clip;
}

.container2 {
  position: relative;
  background-color: #1A1D1E;
  padding: 6rem 0;
  overflow: clip;
}

.content {
  max-width: 775px;
  padding: 0 1.5rem;
  margin: 0 auto;
  position: relative;
}

.title {
  font-size: 1.5625rem;
  letter-spacing: 0.15rem;
  text-align: center;
  font-weight: 600;
  margin-bottom: 3rem;
}


