.tutorial {
  width: fit-content;
  margin: 0 auto;
  padding: 1rem;
}

.tutorial h3 {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}


.tutorial img {
  margin: 0.5rem auto;
  border-radius: 0.25rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}


.tutorial p code {
  background-color: #f0f0f0;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-family: "Courier New", Courier, monospace;
}

:global(.dark) .tutorial p code {
  background-color: #1a213f;
  color: #d4d4d4;
}

.tutorialDescription {
  font-size: 15px;
  color: #5e687e;
  font-weight: bold;
  margin-bottom: 1rem;  
}

.tutorialDescription svg {
  display: inline-block;
  margin: 0 4px;
}



.languageJson {
  color:#000000;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

:global(.dark) .languageJson {
  background-color:#1e1e1e;
  color: #d4d4d4;
}

.languageJson :global(.style1) {
  color:#000000
}
.languageJson :global(.style2) {
  color:#0451A5
}
.languageJson :global(.style3) {
  color:#A31515
}
.languageJson :global(.style4) {
  color:#098658
}
.languageJson :global(.style5) {
  color:#CD3131
}

.languageJson :global(.line) {
  display: block;
}

:global(.dark) .languageJson :global(.style1) {
  color: #d4d4d4;
}
:global(.dark) .languageJson :global(.style2) {
  color: #9CDCFE;
}
:global(.dark) .languageJson :global(.style3) {
  color: #CE9178;
}
:global(.dark) .languageJson :global(.style4) {
  color: #B5CEA8;
}
:global(.dark) .languageJson :global(.style5) {
  color: #F44747;
}
