.tutorial {
  h3 {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
  img {
    max-height: 100px;
  }
}

.tutorial-description {
  font-size: 15px;
  color: #5e687e;
  font-weight: bold;
  svg {
    display: inline-block;
    margin: 0 4px;
  }
}

.dark .tutorial-description {
  color: #ebecf0;
}

.tutorial-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin-top: 1rem;
  padding: 0.5rem;

  li {
    border: 1px solid #d9dbe3;
    border-radius: 0.5rem;
    padding: 1rem;
    transition: background-color 0.3s ease;
  }

  li:hover {
    background-color: #f1f2f5;
  }
}

.dark .tutorial-list li:hover {
  background-color: #16181d;
}

@media (max-device-width: 768px) {
  .tutorial-list{
    grid-template-columns: 1fr;
  }
}


pre code {
  color:#000000;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  .style1 {
    color:#000000
  }
  .style2 {
    color:#0451A5
  }
  .style3 {
    color:#A31515
  }
  .style4 {
    color:#098658
  }
  .style5 {
    color:#CD3131
  }
  .line {
    display: block;
  }
}

.dark pre code {
  background-color:#1e1e1e;
  color: #d4d4d4;
  .style1 {
    color: #d4d4d4;
  }
  .style2 {
    color: #9CDCFE;
  }
  .style3 {
    color: #CE9178;
  }
  .style4 {
    color: #B5CEA8;
  }
  .style5 {
    color: #F44747;
  }
}
