@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html, body {
  @apply h-full;
}

main {
  @apply px-3 md:max-w-screen-xl md:mx-auto ;
  /*h-full bg-gray-100 shadow-2xl dark:bg-gray-800*/
}

h1 {
  @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl
}

h2 {
  @apply scroll-m-20 border-b pt-2 pb-2 text-3xl font-semibold tracking-tight
}

h3 {
  @apply scroll-m-20 text-2xl font-semibold tracking-tight
}

h4 {
  @apply scroll-m-20 text-xl font-semibold tracking-tight
}

main.p {
  @apply leading-7 pb-1 [&:not(:first-child)]:mt-3
}

main.a {
  @apply text-primary underline
}

blockquote {
  @apply mt-2 border-l-2 pl-6 italic
}

main.ul {
  @apply my-6 ml-6 list-disc [&>li]:mt-2 [&>li>ul]:my-0
}

code {
  @apply relative rounded bg-gray-300 px-[0.3rem] py-[0.2rem] text-sm font-semibold
}

table {
  @apply my-6 w-full overflow-y-auto

}

tr {
  @apply m-0 border-t p-0 even:bg-gray-300
}

th {
  @apply border px-4 py-2 text-left font-bold [&[align=center]]:text-center [&[align=right]]:text-right
}

td {
  @apply border px-4 py-2 text-left [&[align=center]]:text-center [&[align=right]]:text-right
}

.bigIcon {
  @apply flex justify-center p-1 rounded-full items-center bg-indigo-100/80 text-blue-600/80
}

.iconCard {
  /*@apply bg-gray-100 text-2xl rounded-lg border-1 border-solid shadow-md hover:shadow-2xl hover:bg-blue-400 hover:ring-2 m-0.5 box-content;*/
  @apply flex flex-col relative overflow-hidden h-auto text-foreground box-border outline-none data-[focus-visible=true]:z-10 data-[focus-visible=true]:outline-2 data-[focus-visible=true]:outline-focus data-[focus-visible=true]:outline-offset-2 shadow-medium rounded-large transition-transform-background motion-reduce:transition-none border-transparent bg-white/5 dark:bg-default-400/10 backdrop-blur-lg backdrop-saturate-[1.8];
  @apply hover:ring-2;
}

.iconCardHeader {
  @apply flex p-3 z-10 w-full justify-start items-center shrink-0 subpixel-antialiased rounded-t-large gap-2 pb-0
}

.iconCardHeading {
  @apply text-base font-semibold
}

.iconCardDescription {
  @apply relative flex w-full p-3 flex-auto flex-col h-auto break-words text-left overflow-y-auto subpixel-antialiased;
  @apply font-normal text-base text-default-500;
}


